@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes pulse {
    0%{
        transform: scale(1);
        opacity: 0.7;
    }
    50%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0.7;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-color: #ededed;
}

.body-content{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

aside{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 15px;
    flex: 2;
    
    img{
        width: 60px;
        height: 60px;
    }

    .actions-buttons{
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 100%;

        button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12pt;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            padding: 4px 12px;
            border-radius: 5px;
            text-align: left;
            transition: 250ms;

            .notification{
                position: relative;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: #ec1212;
                animation: pulse infinite ease-in-out 1s;
                display: none;
            }
        }

        button:hover{
            background-color: #eeeeee;
        }
    }
}

main{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 12;
}
.main-content{
    padding: 28px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-auto-rows: 280px;
    
    .day{
        background-image: linear-gradient(#50B3E4, #2697cf);
    }
    .noon{
        background-image: linear-gradient(#3f78ad, #e7844a);
    }
    .night{
        background-image: linear-gradient(#222525, #081116);
    }

    .current-weather{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: span 2;
        border-radius: 10px;
        padding: 25px;
        color: #ffffff;

        .info{
            position: absolute;
            align-self: self-start;
            h2{
                font-size: 20pt;
                font-weight: 500;
            }
            p{
                margin-top: -8px;
                font-size: 11pt;
                font-weight: 300;
            }
        }

        img{
            width: 120px;
            height: 120px;
        }

        .data{
            display: flex;
            flex-direction: column;
            gap: 5px;
            text-align: right;

            #current-temp{
                font-size: 40pt;
                line-height: 40pt;
                font-weight: 400;
            }

            #apparent-temp{
                font-size: 13pt;
                line-height: 13pt;
                font-weight: 200;
            }

            .prep-rate{
                display: flex;
                justify-content: end;
                gap: 5px;
                font-size: 13pt;
                line-height: 13pt;
                font-weight: 200;
            }
        }

    }

    .daily-weather{
        display: flex;
        grid-column: span 2;
        overflow-y: hidden;
        overflow-x: auto;
        border-radius: 10px;

        .carousel{
            gap: 16px;
            display: flex;
            flex: 1;

            .card{
                display: flex;
                flex: 1;
                flex-direction: column;
                color: #ffffff;
                background-color: #222525;
                padding: 15px;
                border-radius: 10px;
                min-width: 250px;

                h1{
                    font-size: 16pt;
                    font-weight: 400;
                }

                .content{
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1;
                    font-weight: 300;

                    img{
                        height: 80px;
                    }

                    .data{
                        display: flex;
                        flex-direction: column;

                        .temp{
                            font-size: 24pt;
                            font-weight: 400;
                            text-align: end;
                        }

                        .precipitation{
                            justify-content: end;
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            margin-top: -6px;
                        }
                    }
                }
            }
        }
    }
}