@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
}

::-webkit-scrollbar-track{ background: transparent; }
::-webkit-scrollbar{ height: 6px; }
::-webkit-scrollbar-thumb { background: #d1d1d1; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #b9b9b9; }

body{
    background-color: var(--page-bg-color);
    display: flex;
    flex-direction: column;
}

.today-weather{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}

.current-weather{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 8px;
    color: #fff;
    flex: 1;
}

.past{
    opacity: 0.6;
}

.now{
    border: solid 2px #4db2ec;
}

.day{
    background-image: linear-gradient(-120deg, #4db2ec, #5dd6f5);
}
.night{
    background-image: linear-gradient(-120deg, #241d5e, #2f306b);
}

.current-weather h2{
    font-weight: 400;
    font-size: 18pt;
}

.current-weather .content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 30px 0;
}

.current-stats{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.current-stats #current-temperature{
    font-size: 34pt;
    font-weight: 200;
}

.current-stats #current-like{
    font-size: 12pt;
    margin-top: -15px;
}

.current-stats .preciptation{
    display: flex;
    align-items: center;
}

#hourly-weather{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
    gap: 10px;
    overflow-x: auto;
}

#hourly-weather .hourly-item{
    background-color: var(--item-bg-color);
    border-radius: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 10px;
    height: 100%;
}

.hourly-item .ilustration{
    height: 50px;
}

.hourly-item .hour{
    font-size: 14pt;
    font-weight: 500;
}

.hourly-item .stats{
    margin-top: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.hourly-item .stats div{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (min-width: 800px) {
    .today-weather{
        flex-direction: row;
        padding: 10px;
    }
}